---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import { getLangFromUrl } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const educationEntries = await getCollection('education', (entry: CollectionEntry<'education'>) => {
  return entry.slug.split('/')[0] === lang;
});

const compareEducation = (entryA: CollectionEntry<'education'>, entryB: CollectionEntry<'education'>) => {
  return entryA.data.position > entryB.data.position ? 1 : -1;
};
---

{
  educationEntries.sort(compareEducation).map((entry: any) => (
    <div class="flex h-fit gap-x-3 mb-3">
      <div>
        <a href={entry.data.url} target="_blank" rel="noopener noreferrer">
          <div class="h-12 w-12 rounded-full relative bg-light border border-grey-line z-10 flex justify-center items-center overflow-hidden">
            <img src={`/images/${entry.data.logo}`} class="w-9 cursor-pointer" alt="Miguel Mercado" />
          </div>
        </a>
      </div>
      <div
        id={entry.id}
        class="experience-item grid grid-cols-[1fr_minmax(auto,120px)] sm:grid-cols-[1fr_auto] grid-rows-[48px_auto] w-full gap-x-4 items-center overflow-hidden"
      >
        <div class="w-full overflow-hidden">
          <div class="text-sm font-semibold text-ellipsis w-full whitespace-nowrap overflow-hidden">
            {entry.data.center}
          </div>
          <div class="text-sm text-ellipsis w-full whitespace-nowrap overflow-hidden">
            {entry.data.degree}
          </div>
        </div>
        <div class="text-xs sm:text-sm text-grey-secondary tracking-widest">{entry.data.period}</div>
        <div class="col-span-2 max-h-0 transition-all duration-200 ease-in">
          <span class="pt-2 inline-block text-sm opacity-0 transition-opacity duration-200">
            {entry.body}
          </span>
        </div>
      </div>
    </div>
  ))
}
